#parent {
    -fx-padding: 3em 4em;
    -fx-alignment: center;
}

#fileSelectOuterContainer {
    -fx-alignment: center;
    -fx-padding: 30px;
}

#fileSelectButton {
    -fx-padding: 5px 10px;
    -fx-font-size: 9pt;
}

#fileSelectInnerContainer {
    -fx-padding: 50px;
    -fx-border-width: 2px;
    -fx-border-color: "#707070";
    -fx-border-style: dashed;
    -fx-min-width: 450;
    -fx-max-width: 450;
}

#bttnContainer {
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-spacing: 2em;
}

.button {
    -fx-padding: 6px 12px;
    -fx-font-size: 10pt;
}

.tab-pane {
    -fx-min-width: 500;
    -fx-max-width: 800;
    -fx-max-height: 800;
    -fx-min-height: 350;
}

.tab-content-area {
    -fx-background-color: white;
    -fx-border-width: 1.5px;
}

.tab-header-background {
    -fx-background-color: transparent;
}